@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.service-11 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.service-11 h1, .service-11 h2, .service-11 h3, .service-11 h4, .service-11 h5, .service-11 h6 {
  color: #3e4555;
}

.service-11 .font-weight-medium {
	font-weight: 500;
}

.service-11 .bg-light {
    background-color: #f4f8fa !important;
}

.service-11 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.service-11 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-11 .wrap-service11-box {
  margin-top: 60px;
}

.service-11 .wrap-service11-box .icon-space {
  margin: -70px 0 20px;
}

.service-11 .wrap-service11-box .icon-space .icon-round {
  font-size: 45px;
  color: #ffffff;
}

.service-11 .bg-success-gradiant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-11 .icon-round {
		width: 80px;
    line-height: 80px;
}

.service-11 .btn-success-gradiant {
		background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-11 .btn-success-gradiant:hover {
		background: #1dc8cc;
    background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
    background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);	
}

.service-11 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}


.mb-portfolio-section {}

/*-- Portfolio Filter --*/
.mp-isotop-filter {}
.mp-isotop-filter button {
  background-color: transparent;
  border: medium none;
  border-radius: 5px;
  color: #999999;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-bottom: 5px;
  padding: 0 20px;
  text-transform: uppercase;
}
.mp-isotop-filter button.active, .mp-isotop-filter button.active:hover {
  background-color: #3e3e3e;
  color: #ffffff;
}
.mp-isotop-filter button:hover {
  color: #3e3e3e;
}

/*-- Portfolio Grid --*/
.mp-isotop-grid {}

/*-- Portfolio Item --*/
.mp-isotop-item {
  float: left;
}
.mp-isotop-item img {
  width: 100%;
}
.mp-isotop-item a {
  display: block;
  overflow: hidden;
  position: relative;
}
.mp-isotop-item a::before {
  background-color: #000000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.mp-isotop-item a:hover::before {
  opacity: 0.65;
}
.mp-isotop-item a .content {
  bottom: 50px;
  opacity: 0;
  position: absolute;
  right: 55px;
  text-align: center;
}
.mp-isotop-item a:hover .content {
  opacity: 1;
}
.mp-isotop-item a .content .title {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 6px;
  position: relative;
  right: -30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mp-isotop-item a:hover .content .title {
  right: 0;
}
.mp-isotop-item a .content .cat {
  color: #999999;
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 22px;
  position: relative;
  left: -30px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mp-isotop-item a:hover .content .cat {
  left: 0;
}